<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets async="true">

    <!-- 控制台窗口 -->
    <target  name="console"
             xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" detectConsoleAvailable="true"
             layout="${longdate} | ${level:format=FullName} | ${onexception:${exception:format=tostring}${newline}${stacktrace}${newline}} ${message}"/>

    <!-- VS输出窗口 -->
    <target name="debugger"
            xsi:type="Debugger"
            layout="${date:format=HH\:mm\:ss} | ${level:format=FullName} | ${callsite:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True} | ${onexception:${exception:format=tostring}${newline}${stacktrace}${newline}} ${message}"/>

  </targets>

  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="debugger" />
  </rules>
</nlog>
